# Personal default settings. Overridden by project and local scoped settings.
# See https://code.claude.com/docs/en/settings#settings-files
#
# If you notice weird or unwanted behavior from Claude these settings might be getting overridden.

{
    "$schema": "https://json.schemastore.org/claude-code-settings.json",
    "$docs": "https://code.claude.com/docs/en/settings",
    "autoMemoryEnabled": false,
    "autoUpdatesChannel": "stable",
    "claudeMdExcludes": [],
    "cleanupPeriodDays": 30,
    "env": {},
    "attribution": {
        "commit": "",
        "pr": ""
    },
    "includeGitInstructions": true,
    "respectGitignore": true,
    "permissions": {
        "allow": [
            "Bash(git add:*)"
        ],
        "ask": [
            "Bash(gh pr create:*)",
            "Bash(git commit:*)"
        ],
        "deny": [
            "Read(*.env)",
            "Bash(rm:*)",
            "Bash(curl:*)"
        ],
        "defaultMode": "default",
        "additionalDirectories": []
    },
    "language": "english",
    "model": "default",
    "effortLevel": "medium",
    "fastMode": false,
    "fastModePerSessionOptIn": false,
    "feedbackSurveyRate": 0.05,
    "enableAllProjectMcpServers": true,
    "enabledMcpjsonServers": [],
    "disabledMcpjsonServers": [],
    "httpHookAllowedEnvVars": [],
    "hooks": {
        "PreToolUse": [],
        "PostToolUse": [],
        "PostToolUseFailure": [],
        "PermissionRequest": [],
        "Notification": [],
        "UserPromptSubmit": [],
        "Stop": [],
        "StopFailure": [],
        "SubagentStart": [],
        "SubagentStop": [],
        "PreCompact": [],
        "PostCompact": [],
        "Elicitation": [],
        "ElicitationResult": [],
        "TeammateIdle": [],
        "TaskCompleted": [],
        "Setup": [],
        "InstructionsLoaded": [],
        "CwdChanged": [],
        "FileChanged": [],
        "ConfigChange": [],
        "WorktreeCreate": [],
        "WorktreeRemove": [],
        "SessionStart": [],
        "SessionEnd": []
    },
    "disableAllHooks": false,
    "allowedChannelPlugins": [],
    "allowedHttpHookUrls": [],
    "enabledPlugins": {},
    "extraKnownMarketplaces": {},
    "strictKnownMarketplaces": [],
    "skippedMarketplaces": [],
    "skippedPlugins": [],
    "outputStyle": "default",
    "skipWebFetchPreflight": false,
    "sandbox": {
        "enabled": false,
        "allowUnsandboxedCommands": false,
        "autoAllowBashIfSandboxed": false,
        "enableWeakerNestedSandbox": false,
        "enableWeakerNetworkIsolation": false,
        "excludedCommands": [
        "sudo"
        ],
        "filesystem": {
            "allowRead": [],
            "allowWrite": [],
            "denyRead": [],
            "denyWrite": []
        },
        "ignoreViolations": {},
        "network": {
            "socksProxyPort": 1,
            "allowAllUnixSockets": false,
            "allowedDomains": [],
            "allowLocalBinding": false,
            "allowManagedDomainsOnly": true,
            "allowMachLookup": [
                "com.example-domain.example.*"
            ],
            "allowUnixSockets": [],
            "deniedDomains": [],
            "httpProxyPort": 2
        }
    },
    "spinnerVerbs": {
        "mode": "append",
        "verbs": [
            "Hallucinating"
        ]
    },
    "spinnerTipsEnabled": true,
    "spinnerTipsOverride": {
        "excludeDefault": false,
        "tips": [
            "Switching to your sidearm is faster than reloading."
        ]
    },
    "terminalProgressBarEnabled": true,
    "showTurnDuration": true,
    "prefersReducedMotion": false,
    "alwaysThinkingEnabled": false,
    "companyAnnouncements": [
        "Big brother is watching you."
    ],
    "teammateMode": "auto",
    "pluginConfigs": {},
    "defaultShell": "bash",
    "showClearContextOnPlanAccept": false,
    "showThinkingSummaries": false,
    "skipDangerousModePermissionPrompt": false,
    "tui": "default",
    "viewMode": "default",
    "useAutoModeDuringPlan": false,
    "voiceEnabled": false,
    "awaySummaryEnabled": true,
    "theme": "auto",
    "editorMode": "normal",
    "verbose": false,
    "preferredNotifChannel": "notifications_disabled",
    "autoCompactEnabled": false,
    "fileCheckpointingEnabled": true,
    "remoteControlAtStartup": false,
    "agentPushNotifEnabled": false
}
