# kongoseki
.DS_Store
settings.local.json

# mind
mind/backups/*
mind/cache/*
mind/file-history/*
mind/ide/*
mind/paste-cache/*
mind/plans/*
mind/plugins/*
mind/plugins/marketplaces/*
mind/projects/*
mind/session-env/*
mind/sessions/*
mind/shell-snapshots/*
mind/telemetry/*

!mind/backups/.gitkeep
!mind/cache/.gitkeep
!mind/file-history/.gitkeep
!mind/ide/.gitkeep
!mind/paste-cache/.gitkeep
!mind/plans/.gitkeep
!mind/plugins/.gitkeep
!mind/plugins/known_marketplaces.json
!mind/plugins/marketplaces
!mind/plugins/marketplaces/.gitkeep
!mind/projects/.gitkeep
!mind/session-env/.gitkeep
!mind/sessions/.gitkeep
!mind/shell-snapshots/.gitkeep
!mind/telemetry/.gitkeep

# not mind
scratch/*

!scratch/.gitkeep
