# kongoseki
.DS_Store
settings.local.json

# mind
!**/backups/.gitkeep
!**/cache/.gitkeep
!**/file-history/.gitkeep
!**/plans/.gitkeep
!**/plugins/.gitkeep
!**/projects/.gitkeep
!**/session-env/.gitkeep
!**/sessions/.gitkeep
!**/shell-snapshots/.gitkeep
**/backups/*
**/cache/*
**/file-history/*
**/plans/*
**/plugins/*
**/projects/*
**/session-env/*
**/sessions/*
**/shell-snapshots/*

# not mind
!scratch/.gitkeep
scratch/*
