**/projects/*
!**/projects/.gitkeep
**/plugins/*
!**/plugins/.gitkeep
**/file-history/*
!**/file-history/.gitkeep
**/plans/*
!**/plans/.gitkeep
scratch/*
!scratch/.gitkeep
**/backups/*
!**/backups/.gitkeep
**/cache/*
!**/cache/.gitkeep
mind/settings.local.json
.claude/settings.local.json
.DS_Store
