# Color theme settings. Editable by running /theme or directly in json.
#
# See https://code.claude.com/docs/en/terminal-config#create-a-custom-theme

{
  "name": "my-theme",
  "base": "dark-ansi",
  "overrides": {
    "autoAccept": "ansi:black",
    "background": "ansi:black",
    "bashBorder": "ansi:black",
    "blue_FOR_SUBAGENTS_ONLY": "ansi:black",
    "briefLabelClaude": "ansi:black",
    "briefLabelYou": "ansi:black",
    "chromeYellow": "ansi:black",
    "claude": "ansi:black",
    "claudeBlueShimmer_FOR_SYSTEM_SPINNER": "ansi:black",
    "claudeBlue_FOR_SYSTEM_SPINNER": "ansi:black",
    "claudeShimmer": "ansi:black",
    "clawd_body": "ansi:black",
    "cyan_FOR_SUBAGENTS_ONLY": "ansi:black",
    "diffAdded": "ansi:black",
    "diffAddedDimmed": "ansi:black",
    "diffAddedWord": "ansi:black",
    "diffRemoved": "ansi:black",
    "bashMessageBackgroundColor": "ansi:white",
    "clawd_background": "ansi:white",
    "diffRemovedDimmed": "ansi:black",
    "diffRemovedWord": "ansi:black",
    "error": "ansi:black",
    "fastMode": "ansi:black",
    "fastModeShimmer": "ansi:black",
    "green_FOR_SUBAGENTS_ONLY": "ansi:black",
    "ide": "ansi:black",
    "inactive": "ansi:black",
    "inactiveShimmer": "ansi:black",
    "inverseText": "ansi:white",
    "memoryBackgroundColor": "ansi:black",
    "merged": "ansi:black",
    "messageActionsBackground": "ansi:black",
    "orange_FOR_SUBAGENTS_ONLY": "ansi:black",
    "permission": "ansi:black",
    "permissionShimmer": "ansi:black",
    "pink_FOR_SUBAGENTS_ONLY": "ansi:black",
    "planMode": "ansi:black",
    "professionalBlue": "ansi:black",
    "promptBorder": "ansi:black",
    "promptBorderShimmer": "ansi:black",
    "purple_FOR_SUBAGENTS_ONLY": "ansi:black",
    "rainbow_blue": "ansi:black",
    "rainbow_blue_shimmer": "ansi:black",
    "rainbow_green": "ansi:black",
    "rainbow_green_shimmer": "ansi:black",
    "rainbow_indigo": "ansi:black",
    "rainbow_indigo_shimmer": "ansi:black",
    "rainbow_orange": "ansi:black",
    "rainbow_orange_shimmer": "ansi:black",
    "rainbow_red": "ansi:black",
    "rainbow_red_shimmer": "ansi:black",
    "rainbow_violet": "ansi:black",
    "rainbow_violet_shimmer": "ansi:black",
    "rainbow_yellow": "ansi:black",
    "rainbow_yellow_shimmer": "ansi:black",
    "rate_limit_empty": "ansi:black",
    "rate_limit_fill": "ansi:black",
    "red_FOR_SUBAGENTS_ONLY": "ansi:black",
    "remember": "ansi:black",
    "selectionBg": "ansi:black",
    "subtle": "ansi:black",
    "success": "ansi:black",
    "suggestion": "ansi:black",
    "text": "ansi:black",
    "userMessageBackground": "ansi:black",
    "userMessageBackgroundHover": "ansi:black",
    "warning": "ansi:black",
    "warningShimmer": "ansi:black",
    "yellow_FOR_SUBAGENTS_ONLY": "ansi:black"
  }
}
